@mixin btn {
  background-color: $white;
  padding: 14.8px 10.1px 12.6px 11px;
  border-radius: 22.5px;
}

@mixin btn2 {
  height: 45px;
  margin-bottom: 10px;
  border-radius: 22.5px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
