@mixin btn {
  background-color: $color-bg;
  border-radius: 22.5px;

  &:hover {
    transform: scale(1.25);
  }
}

@mixin btn2 {
  height: 45px;
  margin-bottom: 10px;
  border-radius: 22.5px;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
