<footer class="footer">
    <a href="./index.html#up"><img src="./assets/images/ico-arrow.svg" alt="" title="Scroll up" class="scroll-up"></a>
    <nav class="nav nav-sections">
        <ul class="menu">
            <li><a href="https://adalab.es" class="menu-link" target="_blank">Articles</a></li>
            <li><a href="https://adalab.es" class="menu-link" target="_blank">Books</a></li>
            <li><a href="https://adalab.es" class="menu-link" target="_blank">Events</a></li>
            <li><a href="https://adalab.es" class="menu-link" target="_blank">Reason</a></li>
            <li><a href="https://adalab.es" class="menu-link" target="_blank">Tips</a></li>
    </nav>
    <nav class="nav nav-social">
        <ul class="menu">
            <li><a href="https://adalab.es." class="menu-link" target="_blank">Twitter</a></li>
            <li><a href="https://adalab.es." class="menu-link" target="_blank">Instagram</a></li>
            <li><a href="https://adalab.es." class="menu-link" target="_blank">Mastodon.social</a></li>
    </nav>
    <small class="copyright">
        <div>&copy;2022</div>
        <div>we <span class="heart">❤︎</span> components</div>
    </small>
</footer>