<footer class="footer">
    <a href="link-up"><img src="./assets/images/ico-arrow.svg" alt="" title="Scroll up"></a>
    <nav class="nav-sections">
        <ul class="menu">
            <li>Articles</li>
            <li>Books</li>
            <li>Events</li>
            <li>Reason</li>
            <li>Tips</li>
    </nav>
    <nav class="nav-social">
        <ul class="menu">
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Mastodon.social</li>
    </nav>
    <small class="copyright">
        <div>&copy;2022</div>
        <div>we ❤︎ components</div>
    </small>
</footer>