<footer class="footer">
    <a href="./index.html#up"><img src="./assets/images/ico-arrow.svg" alt="" title="Scroll up" class="scroll-up"></a>
    <div class="footer-container">
        <nav class="nav nav-sections">
            <ul class="menu">
                <li><a href="https://adalab.es" class="menu-link" target="_blank">Articles</a></li>
                <li><a href="https://adalab.es" class="menu-link" target="_blank">Books</a></li>
                <li><a href="https://adalab.es" class="menu-link" target="_blank">Events</a></li>
                <li><a href="https://adalab.es" class="menu-link" target="_blank">Reason</a></li>
                <li><a href="https://adalab.es" class="menu-link" target="_blank">Tips</a></li>
            </ul>
        </nav>
        <nav class="nav nav-social">
            <ul class="menu">
                <li><a href="https://adalab.es" class="menu-link" target="_blank">Twitter</a></li>
                <li><a href="https://adalab.es" class="menu-link" target="_blank">Instagram</a></li>
                <li><a href="https://adalab.es" class="menu-link" target="_blank">Mastodon.social</a></li>
            </ul>
        </nav>
        <div class="copyright">
            <small>&copy;2022</small>
            <p>we <span class="heart">❤︎</span> components</p>
        </div>
</footer>