<nav class="link-menu">
        <a href="https://adalab.es/" target="_blank"><img src="./assets/images/ico-menu.svg" alt="menu" title="Home"
                        class="hamb"></a>
</nav>
<header class="header" id="up">

        <div class="header-content">
                <h1 class="title">Anonymous proxy</h1>
                <h2 class="subtitle">In hac habitasse platea dictumst.</h2>

                <a href="./index.html#3-reasons" class="link-down"><img src="./assets/images/ico-scroll-down.svg"
                                alt="link" title="3 Reasons To Purchase" class="down"></a>
        </div>
</header>