<section class="section-2">
    <h3 class="title-section" id="3-reasons">3 reasons to purchase</h3>
    <div class="article-container">
        <article class="article">
            <h4 class="title-article">Ut sed metus</h4>
            <p class="text-article">Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
        <article class="article">
            <h4 class="title-article">Curabitur ac erat</h4>
            <p class="text-article">Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="article">
            <h4 class="title-article">Morbi dictum</h4>
            <p class="text-article">Aliquam in dolor et dolor tincidunt.</p>
        </article>
    </div>
    <a href="" class="more-reasons-container" title="More reasons">
        <p class="more-reasons">More reasons</p>
    </a>

</section>