<section class="section-2">
    <h3 class="title-section">3 reasons to purchase</h3>
    <article class="article">
        <h4 class="title-article">Ut sed metus</h4>
        <p class="text-article">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="article">
        <h4 class="title-article">Curabitur ac erat</h4>
        <p class="text-article">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="article">
        <h4 class="title-article">Morbi dictum</h4>
        <p class="text-article">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <button class="more-reasons" title="more reasons">More reasons</button>
</section>