$font-title: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;
$size: 18px;

// colors
$orange: #f26002;
$white: #fff;
$ice-blue: #eff9ff;
$light-blue: #8ccbea;
$blue: #0271bc;
$gray-brown: #4a4a4a;
$dark-blue: #304268;
$black: #000;

$color-bg: $white;
$color-sec: $orange;

:root {
  font: $size $font-text;
  background-color: $color-bg;
  color: $black;
}
