$fontText: "Roboto", sans-serif;
$size: 18px;

:root {
  font: $size $fontText;
}

// colors
$orange: #f26002;
$white: #fff;
$light-blue: #8ccbea;
$blue: #0271bc;
$dark-blue: #304268;

$color-bg: $blue;
$color-sec: $orange;
