.footer {
  background-color: $dark-blue;
  color: $color-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 15px 36px;
  line-height: 30px;

  @media all and (min-width: 768px) {
    padding: 0 39px 40px;
  }

  .scroll-up {
    @include btn;
    padding: 11px 12.4px 10px 12px;
    transform: translateY(-50%);
  }

  &-container {
    @media all and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      text-align: left;
    }

    @media all and (min-width: 1280px) {
      justify-content: center;
    }

    .nav {
      text-transform: uppercase;
      text-decoration: none;

      @media all and (min-width: 768px) and (max-width: 1280px) {
        width: 33%;
      }
      @media all and (min-width: 1280px) {
        width: 14.3%;
      }

      .menu {
        font-size: 16px;
        margin-bottom: 30px;

        @media all and (min-width: 768px) {
          margin-bottom: 0;
        }

        &-link {
          color: $color-bg;
          text-decoration: none;
        }

        &-link:hover {
          color: $color-sec;
        }
      }
    }
    .nav-sections {
      order: 2;

      @media all and (min-width: 1280px) {
        margin: 0 30px;
      }
    }
    .nav-social {
      order: 3;
    }
  }

  .copyright {
    font-size: 14px;
    order: 1;

    @media all and (min-width: 768px) and (max-width: 1280px) {
      width: 33%;
    }
    @media all and (min-width: 1280px) {
      width: 14.3%;
    }

    .heart {
      color: $color-sec;
    }
  }
}
