// por fijar el menu y que no se vaya al hacer scroll,
// centrar las letras
// hacer que el titulo ocupe el ancho
// ver lo del rotate
// aclarar lo de la funcion para el rem

.header {
  height: 100vh;
  flex-grow: 0;
  //   width: 100vw;

  background-image: url(../images/cover.jpeg);
  background-size: cover;
  //   background-repeat: no-repeat;
  background-position-x: center;
  transform: rotate(-0.23deg);

  margin-bottom: 24.9px;
  padding: 0 1.4px 34.1px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  .title {
    color: $white;
    font-family: "Roboto Slab", serif;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    word-spacing: 100vw;
    line-height: 1.31;
    width: 100vw;
    transform: rotate(-0.23deg);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  .subtitle {
    color: $white;
    font-size: 16px;
    line-height: 1.19;
    transform: rotate(-0.23deg);
  }

  .hamb {
    background-color: $color-bg;
    padding: 15px 14px;
    position: fixed;
    // no se queda fixed
    top: 0;
    left: 0;
    z-index: 20;
  }

  .down {
    background-color: $white;
    border-radius: 50px;
    padding: 14.8px 10.1px 12.6px 11px;
    transform: rotate(-0.23deg);
    border-radius: 22.5px;
  }
}
