.section-1 {
  padding: 37px 15px 35px;

  @media all and (min-width: 768px) and (max-width: 1280px) {
    padding: 37px 39px 50px;
  }

  @media all and (min-width: 1280px) {
    padding: 65px 275px 50px;
  }

  .pre-title-section {
    font-size: 14px;
    line-height: 30px;
    color: $light-blue;
    text-transform: capitalize;

    @media all and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  .title-section {
    @include section-title;
  }

  .text-section-1 {
    color: $gray-brown;
    line-height: 30px;
    margin: 20px 0 26px;

    @media all and (min-width: 768px) and (max-width: 1280px) {
      margin: 27px 0;
      font-size: 20px;
    }

    @media all and (min-width: 1280px) {
      margin-top: 32px;
    }
  }

  .container-go {
    @include btn2;
    width: 76px;
    border: solid 2px $color-sec;
    color: $color-sec;

    @media all and (min-width: 768px) and (max-width: 1280px) {
      width: 91px;
    }

    @media all and (min-width: 1280px) {
      width: 160px;
    }

    &:hover {
      background-color: $color-sec;
      color: $color-bg;
      transform: rotate(360deg);
    }

    .go {
      font-size: 20px;
      font-weight: 500;
      line-height: 45px;
    }
  }
}
