@import "core/reset";
@import "core/variables";
@import "core/functions";
@import "components/buttons";
@import "components/titles";
@import "layout/header";
@import "layout/section1";
@import "layout/section2";
@import "layout/footer";
